.App {
  text-align: center;
}
.signUpForm{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

label{
  display: flex;
  margin-bottom: 5px;
  font-weight: 800;
}

input{
  width: 400px;
  padding: 6px 12px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formControl{
  margin-bottom: 20px;
}

button{
  padding: 5px 10px;
  border-radius: 5px;
}

.error{
  color: red;
}