section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.commentSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}